/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #03045F, #90E0EE);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.login-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-left: 15px;
    font-weight: medium;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #0077B6;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #0096C7;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #90E0EE;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
    opacity: 0.8;
}